<ul class="list-unstyled">
  <% diettasks.each do |diettask| %>
    <li class="media mb-3 border-bottom">
      <img class="mr-2 rounded" src="<%= gravatar_url(diettask.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <p class ='user-name'><%= link_to diettask.user.name, user_path(diettask.user) %></p> 
        </div>
        <div>
          <p class="d-content"><%= diettask.content %></p>
        </div>
        <ul class="list-button">
           <% if diettask.status == 'Undone' %>
        　 <li class="btn btn-light btn-sm"><%= diettask.status %></li>
      　    <% else %>
           <li class="btn btn-dark disabled btn-sm"><%= diettask.status %></li>
           <% end %>
           <li><%= render 'favorites/like_button', diettask: diettask %></li>
           
           <% if current_user == diettask.user %>
           <li><%= link_to "Edit", edit_diettask_path(diettask), class: 'btn btn-success btn-sm' %></li>
           <li><%= link_to "Delete", diettask, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %></li>
           <% end %>
         </ul>
          <div class= "list-date">
            <% if current_user == diettask.user %>
              <%= link_to done_path(diettask), method: :post do%>
                <i class="fa fa-check-circle"></i>←Finish!!
              <% end %>
            <% end %>
            <span>Limit:<%= diettask.limit_date %></span>
            <span>created at<%= diettask.created_at %></span>
          </div>
      </div>
    </li>
  <% end %>
  <%= paginate diettasks %>
</ul>